:root {
  --text: #0e1316;
  --background: #f9fbfc;
  --primary: #538fba;
  --secondary: #94bfde;
  --accent: #6bacdc;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--secondary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid var(--accent);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 40px;
  height: 40px;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--text);
  margin: 0 10px;
  font-weight: 600;
}

nav a.active,
nav a:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

main {
  padding: 1.5rem;
  max-width: 1000px;
  margin: auto;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.featured img {
  width: 100%;
  border-radius: 10px;
}

button:hover {
  background-color: var(--accent);
}

footer {
  text-align: center;
  background-color: var(--secondary);
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9em;
  font-style: italic;
  border-top: 3px solid var(--accent);
}

.footer-nav {
  margin-bottom: 1rem;
}

.footer-nav a {
  color: var(--text);
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--primary);
}
